name: Helm Deploy to ArgoCD

on:
  workflow_call:
    inputs:
      app_name:
        type: string
        required: true

      values_path:
        type: string
        required: true

      image_name:
        type: string
        required: true

      image_tag:
        type: string
        required: true

      image_path:
        type: string
        required: true

      helm_repo:
        type: string
        required: false
        default: "eranin/eranin-infra"

    secrets:
      INFRA_REPO_TOKEN:
        required: true

      IMAGE_REGISTRY:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Helm Infra Repo
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.helm_repo }}
          token: ${{ secrets.INFRA_REPO_TOKEN }}
          fetch-depth: 0

      - name: Install yq
        run: |
          sudo wget -qO /usr/bin/yq \
            https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64
          sudo chmod +x /usr/bin/yq

      - name: Prepare metadata
        id: prep
        run: |
          REG="${{ secrets.IMAGE_REGISTRY }}"
          NAME="${{ inputs.image_name }}"
          TAG="${{ inputs.image_tag }}"

          FULL="${REG}/${NAME}:${TAG}"
          echo "full=$FULL" >> $GITHUB_OUTPUT

      - name: Update Helm values
        run: |
          FILE="${{ inputs.values_path }}"
          BASE="${{ inputs.image_path }}"
          REG="${{ secrets.IMAGE_REGISTRY }}"
          NAME="${{ inputs.image_name }}"
          TAG="${{ inputs.image_tag }}"

          echo "Updating: $FILE"
          echo " → Path: .$BASE.repository"
          echo " → Path: .$BASE.tag"

          yq -i ".$BASE.repository = \"${REG}/${NAME}\"" "$FILE"
          yq -i ".$BASE.tag = \"$TAG\"" "$FILE"

      - name: Commit & Push
        run: |
          git config user.email "cd-bot@eranin.dev"
          git config user.name "Eranin-CD-Bot"

          git add .
          git commit -m "CD: Update ${{ inputs.app_name }} to tag ${{ inputs.image_tag }}"
          git push

      - name: Summary
        run: |
          echo "Updated image → ${{ steps.prep.outputs.full }}"
